.container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    
    @media screen and (max-width: 767px) {
        max-width: 320px;
    }
    
    @media screen and (min-width:768px) and (max-width: 1199px) {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 1200px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.footer-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #E1E1E1;

    @media screen and (max-width: 767px) {
        max-width: 320px;
    }

    @media screen and (min-width:768px) and (max-width: 1199px) {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
        padding-left: 16px;
        padding-right: 16px;
    }

    @media screen and (min-width:320px) and (max-width:1199px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    @media screen and (min-width:1200px) {
        padding-top: 121px;
        padding-bottom: 60px;
    }

    @media screen and (min-width:768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}