.about {
    position: relative;
    z-index: 10;
    padding-top: 60px;
    background-color: var(--background-color);
    &__label {
        margin-bottom: 15px;
        font-family: var(--secondary-font-family), sans-serif;
        @include font (18px, 400, 1.17);
        text-align: center;
        text-transform: uppercase;
        color: var(--secondary-accent-color);
        @include tablet {
            margin-bottom: 16px;
            @include font (26px, 400, 1.15);
        }
        @include desktop {
            @include font (30px, 400, 1.13);
            letter-spacing: 0.04em;
        }
    }
    &__title {
        margin-bottom: 32px;
        font-family: var(--secondary-font-family), sans-serif;
        @include font (34px, 400, 1.15);
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: var(--accent-text-color);
        @include tablet {
            margin-bottom: 40px;
            @include font (48px, 400, 1.15);
        }
        @include desktop {
            margin-bottom: 60px;
            @include font (58px, 400, 1.14);
            letter-spacing: 0.06em;
        }
    }
    &__photo {
        margin-bottom: 40px;
    }
    &__wrap {
        width: 100%;
        @include tablet {
            display: flex;
        }
    }
    &__background {
        position: absolute;
        top: 599px;
        left: 0;
        display: inline;
        z-index: -1;
        width: 100%;
        height: 133px;
        background-image: url(../images/about/milk-mob-1x.png);
        @include retina {
            background-image: url(../images/about/milk-mob-2x.png);
        }
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 133px;
        // background-position: 0 390px;
        @include tablet {
            background-image: none;
        }
        @include desktop {
            top: 236px;
            height: 521px;
            background-image: url(../images/about/milk-desk-1x.png);
            // background-size: auto 521px;
            background-size: cover;
            // background-position: 0 236px;
            @include retina {
                background-image: url(../images/about/milk-desk-2x.png);
            }
        }
    }
    &__wrap-text {
        @include tablet {
            margin-left: 32px;
        }
        @include desktop {
            margin-left: 99px;
        }
    }
    &__text {
        margin-bottom: 26px;
        width: 220px;
        @include font (12px, 500, 1.62);
        
        @include tablet {
            margin-bottom: 24px;
            width: 334px;
            @include font (14px, 500, 1.76);
        }
        @include desktop {
            margin-top: 90px;
            margin-bottom: 32px;
            width: 463px;
            @include font (16px, 500, 1.76);
            letter-spacing: 0.04em;
        }
    }
    
    &__text--change {
        margin-top: 0px;
        margin-bottom: 15px;
        color: var(--secondary-text-color);
        @include tablet {
            margin-bottom: 20px;
            letter-spacing: 0.04em;
        }
        @include desktop {
            margin-bottom: 32px;
            @include font (14px, 500, 1.94);
        }
    }
    &__text--last {
        margin-bottom: 20px;
        @include tablet {
            margin-bottom: 40px;
        }
    }
    
    &__btn {
        display: flex;
        padding: 5px 37px;
        min-width: 176px;
        height: 44px;
        background-color: var(--white-color);
        border-radius: 22px;
        border: 1px solid var(--white-color);
        @include font (14px, 700, 1.29);
        flex-wrap: nowrap;
        align-items: center;
        text-align: center;
        color: var(--accent-text-color);
        stroke: var(--accent-text-color);
        transition-property: background-color, color, stroke;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        @include tablet {
            padding: 5px 37px;
            @include font (16px, 700, 1.3);
        }
    }

    &__svg {
        margin-left: 13px;
        stroke: inherit;
    }

    &__btn:focus,
    &__btn:hover {
        background-color: var(--accent-text-color);
        stroke: var(--white-color);
        color: var(--white-color);
    }
}

// -----------backdrop--------
.backdrop-about {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    width: 100%;
    height: 100%;
    background-color: var(--accent-background-color);
    opacity: 1;
    transform: scale(1);
    transition-property: transform, opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden1 {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transform: scale(0);
    }
}

// ---------modal-----------
.about-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 70%;
    max-height: 90%;
    padding: 40px 10px 10px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition-property: transform, opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include tablet {
        padding: 30px 40px 20px;
    }
    .backdrop.is-hidden & {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }
    &__close-btn {
        position: absolute;
        top: 8px;
        right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border: 1px solid var(--secondary-accent-color);
        border-radius: 50%;
        background-color: inherit;
        cursor: pointer;
    }
    &__close {
        stroke: var(--secondary-accent-color);
        transition-property: stroke;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        .about-modal__close-btn:hover &,
        .about-modal__close-btn:focus & {
            stroke: var(--accent-text-color);
        }
    }
}

.how-made,
.how-made__list {
    margin-bottom: 15px;
    font-family: var(--secondary-font-family), sans-serif;
    @include font (20px, 400, 1.15);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--accent-text-color);
    @include tablet {
        margin-bottom: 20px;
        @include font (32px, 400, 1.15);
    }
    @include desktop {
        @include font (40px, 400, 1.14);
        letter-spacing: 0.06em;
    }
}

.how-made__list {
    align-content: center;
    margin-bottom: 0;
    padding-left: 20px;
    @include tablet {
        margin-bottom: 0;
    }
}

.how-made__text {
    margin-bottom: 8px;
    font-family: var(--secondary-font-family), sans-serif;
    @include font (14px, 400, 1.17);
    text-align: left;
    text-transform: uppercase;
    color: var(--secondary-accent-color);
    @include tablet {
        
        @include font (20px, 400, 1.15);
    }
    @include desktop {
        @include font (24px, 400, 1.13);
        letter-spacing: 0.04em;
    }
    &:hover, &:focus {
        color: var(--accent-text-color);
    }
}