.advantages {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--background-color);
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media screen and (min-width: 1200px) {
        padding-top: 40px;
        padding-bottom: 120px;
    }

    &__number {
        font-family: var(--secondary-font-family), sans-serif;
        @include font (36px, 400, 1.14);
        letter-spacing: 0.04em;
        color: var(--accent-text-color);
        margin-bottom: 20px;
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            @include font (48px, 400, 1.14);
        }
        @media screen and (min-width: 1200px) {
            @include font (58px, 400, 1.14);
        }
    }

    &__text {
        @include font(12px, 700, 1.7);
        @media screen and (min-width: 768px) and (max-width: 1199px) {
                @include font (14px, 700, 1.74);
            }
        @media screen and (min-width: 1200px) {
            @include font (16px, 700, 1.76);
        }

    }

    &__list {
        @include grid-wrap;
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            @include grid-wrap (flex, -20px, -20px, wrap);
        }
        @media screen and (min-width: 1200px) {
            @include grid-wrap (flex, -125px, -125px, wrap);
        }
    }

    &__item {
        @include grid-item;
        max-width: 230px;
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            @include grid-item (20px, 20px);
            max-width: 162px;
        }
        @media screen and (min-width: 1200px) {
            @include grid-item (125px, 125px);
            max-width: 265px;
        }
    }
}

.advantages__item::before {
    content: " ";
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 16px;
    width: 50px;
    height: 50px;
}

.advantages__item--adder::before {
    background-image: url(../images/advantages/cow-udder-mob-1x.png);
    @include retina {
        background-image: url(../images/advantages/cow-udder-mob-2x.png);
    }
}

.advantages__item--apples::before {
    background-image: url(../images/advantages/apples-mob-1x.png);
    @include retina {
        background-image: url(../images/advantages/apples-mob-2x.png);
    }
}

.advantages__item--heart::before {
    background-image: url(../images/advantages/heart-mob-1x.png);
    @include retina {
        background-image: url(../images/advantages/heart-mob-2x.png);
    }
}

.advantages__number {
    display: inline-block;
    animation-name: rotation, scale;
    animation-duration: 2s;
    animation-timing-function: var(--time-function);
    animation-iteration-count: 3;
}
.number-animation {
@keyframes rotation {
        0% {
            transform: rotateZ(0deg) scale(1);
        }

        25% {
            transform: rotateZ(20deg) scale(0.8);
        }

        50% {
            transform: rotateZ(0deg) scale(1);
        }

        75% {
            transform: rotateZ(-20deg) scale(0.8);
        }

        100% {
            transform: rotateZ(0deg) scale(1);
        }
    }
}
