.section-contacts {
    width: 100%;
    padding-bottom: 40px;
    padding-top: 60px;
    font-family: var(--primary-font-family);
    /*background: #E5E5E5;*/

    color: var(--primary-text-color);

    background-image: linear-gradient(to bottom,
            #fafafa 21%,
            var(--background-color) 21%,
            var(--background-color) 100%);

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(to bottom,
                #fafafa 45%,
                var(--background-color) 45%,
                var(--background-color) 100%);
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;
        background-image: linear-gradient(to bottom,
                #fafafa 21%,
                var(--background-color) 21%,
                var(--background-color) 100%);
    }

}

.container-section {
    max-width: 320px;
    display: flex;
    flex-direction: column;

    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

    @media screen and (min-width: 1200px) {
        min-width: 1200px;

    }
}

// .hidden {
//     display: none;
// }

.cards-section {
    width: 100%;

    @media screen and (min-width: 768px) {
        display: flex;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


.card-section-item {
    display: block;
    margin-bottom: 20px;
    padding: 40px 32px;
    max-width: 280px;
    min-height: 332px;
    background-color: var(--white-color);
    border-radius: 24px;

    

    &:last-child {
        margin-bottom: 32px;
    }

    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    @include mobile {
            width: 280px;
    }
    @media screen and (min-width: 768px) {
        margin-right: 32px;
        margin-bottom: 60px;
        width: 224px;
        height: 528px;
        padding-left: 32px;
        padding-right: 32px;
    }

    @media screen and (min-width: 1200px) {
        width: 368px;
        margin-left: 16px;
        margin-right: 16px;
        padding-left: 40px;
        padding-right: 40px;
    }
}


.cafe {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    width: 80px;
    height: 16px;
    border-radius: 4px;
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: #F0D1A5;

    @media screen and (min-width: 768px) {
        width: 73px;
        height: 28px;
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 1.87;
    }

    @media screen and (min-width: 1200px) {
        width: 75.1px;

    }
}

.foodtrack {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    width: 130px;
    height: 16px;
    border-radius: 4px;
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: #C2E297;

    @media screen and (min-width: 768px) {
        width: 138px;
        height: 28px;
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 1.87;
    }

}

.city {
    margin-bottom: 8px;
    width: 75px;
    height: 22px;
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.04em;
    color: var(--primary-text-color);

    @media screen and (min-width: 768px) {

        margin-bottom: 12px;
        width: 93px;
        font-size: 14px;
        line-height: 1.86;
    }

    @media screen and (min-width: 1200px) {

        margin-bottom: 8px;
        width: 97px;
        font-size: 16px;
        line-height: 1.87;
    }

}

.description {
    margin-bottom: 24px;
    max-width: 179px;
    height: 36px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    @include mobile {
        width: 179px;
    }

    color: var(--secondary-text-color);

    @media screen and (min-width: 768px) {

        margin-bottom: 32px;
        width: 159px;
        height: 65px;
        font-size: 14px;
        line-height: 1.64;
    }

    @media screen and (min-width: 1200px) {

        width: 250px;
        font-size: 16px;
        line-height: 1.81;
    }
}

.line {
    margin-bottom: 24px;
    max-width: 216px;
    height: 0px;
    border-bottom: 1px solid #E1E1E1;

    @media screen and (min-width: 320px) {
        width: 216px;
    }

    @media screen and (min-width: 768px) {
        width: 160px;
        margin-bottom: 32px;
    }

    @media screen and (min-width: 1200px) {
        width: 288px;

    }

    
}

.day {
    height: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    color: var(--primary-text-color);

    @media screen and (min-width: 768px) {

        height: 24px;
        font-size: 14px;
        line-height: 1.86;
    }

    @media screen and (min-width: 1200px) {

        height: 30px;
        font-size: 16px;
        line-height: 1.87;
    }
}

.work-time {
    margin-bottom: 24px;
    width: 137.96px;
    height: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    color: var(--secondary-accent-color);

    @media screen and (min-width: 768px) {

        height: 21px;
        width: 159px;
        margin-bottom: 12px;
        font-size: 14px;
        line-height: 1.86;
    }

    @media screen and (min-width: 1200px) {

        height: 30px;
        width: 167.7px;
        margin-bottom: 12px;
        font-size: 16px;
        line-height: 1.87;
    }
}

.weekends {
    @media screen and (min-width: 768px) {
        margin-bottom: 32px;

    }

}

.contacts-container {

    max-width: 179px;
    height: 37px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: var(--secondary-text-color);

    @media screen and (min-width: 768px) {

        font-size: 14px;
        line-height: 1.86;
    }

    @media screen and (min-width: 1200px) {
        width: 250px;
        font-size: 16px;
        line-height: 1.81;
    }
}


.contacts-mail {
    color: var(--secondary-text-color);

    &:focus,
    &:hover {
        color: #D41342;
    }
}

.contacts-tel {
    color: var(--secondary-text-color);

    &:focus,
    &:hover {
        color: #D41342;
    }
}

.buttons-section {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    max-width: 280px;
    margin: 0 auto;

    @include mobile {
        width: 280px;
    }

    @media screen and (min-width: 768px) {
        flex-direction: row;

        width: 100%;
    }


}

.location {
    display: inline-flex;
    justify-content: center;
    align-content: center;

    @media screen and (min-width: 768px) {
        margin-right: 14.5px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 12px;
    }

}

.franchise {
    display: inline-flex;
    justify-content: center;
    align-content: center;

}

.button-location {
    margin-bottom: 10px;
    width: 161.45px;
    height: 44px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    color: var(--white-color);
    border-radius: 22px;
    border: none;
    background-color: #D41342;

    &:focus,
    &:hover {
        color: #D41342;
        background-color: var(--white-color);
    }

    &:focus .svg-location {
        fill: #D41342;
        stroke: #D41342;
    }

    &:hover .svg-location {
        fill: #D41342;
        stroke: #D41342;
    }

    @media screen and (min-width: 768px) {
        width: 191.45px;
    }

    @media screen and (min-width: 1200px) {
        width: 198px;
        height: 44px;
    }
}

.button-franchise {
    margin-bottom: 10px;
    width: 161.45px;
    height: 44px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    color: #D41342;
    border-radius: 22px;
    border: none;
    background-color: var(--white-color);

    .svg-franchise {

        fill: var(--accent-text-color);
    }

    &:focus,
    &:hover {
        color: var(--white-color);
        background-color: #D41342;
    }

    &:focus .svg-franchise {
        fill: var(--white-color);
        stroke: var(--white-color);
    }

    &:hover .svg-franchise {
        fill: var(--white-color);
        stroke: var(--white-color);
    }

    @media screen and (min-width: 768px) {
        width: 174.05px;
    }

    @media screen and (min-width: 1200px) {
        width: 168px;
    }


}

.svg-location {
    display: inline-flex;
    align-items: center;
    margin-left: 8px;
    margin-top: 3px;
    stroke: var(--white-color);


}

.svg-franchise {
    display: inline-flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 3px;
    stroke: #D41342;

}

.button-location,
.button-franchise {
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

/*---------------------modal-------------*/

.is-hidden-one {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.is-hidden-two {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    ;
    position: fixed;
    top: 0;
    transition: opacity 250ms, visibility 250ms;

}

.modal-one {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80%;
    height: 80%;

    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);


}

.google-map {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.box {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 18%;
    background-color: var(--accent-background-color);
}

.description-map {
    position: absolute;
    z-index: 4;
    display: flex;

    align-items: center;
    margin-top: 15px;

}

.label-description {
    display: flex;
}

.label {
    width: 5%;
    margin-left: 20px;

    @media screen and (max-width: 768px) {
        width: 10%;
        height: 10%;
        margin-left: 2px;
    }

    @media screen and (max-width: 320px) {
        width: 15%;
    }
}

.label-title {
    margin-left: 10px;
    font-weight: 700;
}

.modal-two {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 95%;
    height: 95%;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    @media screen and (min-width: 320px) {
        width: 230px;
        height: 420px;
    }


    // @media screen and (min-width: 1200px) {
    //     width: 528px;
    //     height: 581px;
    // }
}

/*-----------------------------------*/

.modal-btn {
    display: flex;
    position: absolute;
    z-index: 4;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--accent-background-color);
    background-color: #FFFFFF;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
    fill: #212121;

    &:focus,
    &:hover {
        fill: var(--accent-background-color);
    }
}



.modal-btn:hover .modal-icon {
    fill: var(--accent-background-color);
}




.modal-title {
    margin-top: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.44;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 12px;
}

.modal-input {
    width: 180px;
    height: 20px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 5px 0 5px 42px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: var(--accent-background-color);
}

.modal-input:focus+.modal-icons {
    fill: var(--accent-background-color);
}

.moda-text {
    color: #757575;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    display: block;
    margin-bottom: 4px;

}

.modal-coment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.modal-textarea {
    width: 190px;
    background: #FFFFFF;
    border-radius: 4px;
    height: 50px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    resize: none;
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:hover,
.modal-textarea:focus {
    border-color: var(--accent-background-color);
}

.modal-field-com {
    margin-bottom: 20px;
}

.modal-icons {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
    position: relative;
}

.modal-field {
    margin-bottom: 10px;

}

.check-text {
    // padding-left: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    align-items: center;



    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.71;
    }

}

.check-text::before {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 3px;
    margin-right: 8px;
}

/*
                .modal-check:checked+.check-text::before {
                    background-color: var(--accent-color);
                    border-color: var(--accent-color);
                    background-image: url(../1/check.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    border: none;
                }
        
                .modal-check:focus+.check-text::before {
                    border-color: var(--accent-color);
                }
        
                .modal-field-flex {
                    display: flex;
                    align-items: center;
                    margin-bottom: 30px;
                    ;
                }
        
                .modal-doc {
                    display: block;
                    margin-left: 5px;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 1.16;
                    letter-spacing: 0.03em;
                    color: #2196F3;
        
                    @media screen and (min-width: 768px) {}
        
                    @media screen and (min-width: 1200px) {
                        padding-left: 4px;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 1.71;
                        letter-spacing: 0.03em;
                    }
        
                }
        */
.modal-btn-sbm {
    width: 200px;
    height: 50px;
    display: block;
    margin: 0 auto;

    background: var(--accent-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}