.footer-text {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    text-transform: uppercase;

    color: var(--primery-pink-color);

    width: 232px;

    @media screen and (min-width:768px) and (max-width:1199px) {
        font-size: 26px;
        line-height: 1.15;
        letter-spacing: 0.04em;

        width: 340px;
    }

    @media screen and (min-width:1200px) {
        font-size: 30px;
        line-height: 1.13;
        letter-spacing: 0.04em;

        width: 474px;
    }
}

.footer-title {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--primery-red-color);

    width: 200px;
    padding-top: 16px;
    padding-bottom: 40px;

    @media screen and (min-width:768px) and (max-width:1199px) {
        padding-bottom: 0px;
    }

        @media screen and (min-width:1200px) {
            padding-bottom: 20px;
        }

        @media screen and (min-width:768px) and (max-width:1199px) {
            font-weight: 400;
                font-size: 48px;
                line-height: 1.15;
                letter-spacing: 0.06em;
            
            width: 340px;
        }
    
        @media screen and (min-width:1200px) {
            font-size: 58px;
                line-height: 1.13;
                letter-spacing: 0.06em;

            width: 478px;
        }
}

.footer-soc {
    display: flex;
    justify-content: flex-end;

    padding-bottom: 40px;
}

// .footer-soc-icon {
//     margin-left: 28.32px;
// }

// .footer-soc-icon:first-child {
//     margin-left: 0px;
// }

[href="tell:+61 (0) 383 766 284"] {
    color: var(--accent-text-color);
}

.tell-text {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    /* or 22px */

    text-align: right;
    color: var(--primery-text-color);

    @media screen and (min-width:768px) and (max-width:1199px) {
        font-size: 14px;
        line-height: 1.86;
    }
}

.current-mob {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    /* or 22px */

    text-align: right;

}

.current-link {
    color: var(--accent-text-color);
}

.footer-end-text {
    width: 150px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    /* or 21px */

    text-align: center;
    color: var(--secondary-text-color);

    @media screen and (min-width:768px) {
        width: 100%;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.86;
        /* identical to box height, or 26px */
    
        letter-spacing: 0.02em;
    }
}

.footer-end {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 3px;

    @media screen and (min-width:768px) and (max-width:1199px) {
        padding-top: 8px;
    }
        @media screen and (min-width:1200px) {
            padding-top: 7px;
        }
}

.footer-circle {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;
    border-radius:  50px;
    background-color: var(--primery-icon-bg-color);

    margin-left: 28.32px;

    @media screen and (min-width:768px) and (max-width:1199px) {
        width: 34px;
        height: 34px;
        margin-left: 30px;
    }
}

.footer-circle:first-child {
    margin-left: 0px;
}