.gallery {
  & > .container {
    padding-left: 0;
    padding-right: 0;

    @include desktop {
      padding-left: 94px;
      padding-right: 94px;
    }
  }
  background-image: linear-gradient(
    to bottom,
    var(--background-color) 21%,
    #fafafa 21%,
    #fafafa 100%
  );
  @include tablet {
    background-image: linear-gradient(
      to bottom,
      var(--background-color) 57%,
      #fafafa 57%,
      #fafafa 100%
    );
  }
  @include desktop {
      background-image: linear-gradient(
      to bottom,
      var(--background-color) 21%,
      #fafafa 21%,
      #fafafa 100%
    );
  }
}

.grid {
  display: grid;
  grid-template-rows: repeat(12, 9px);
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 2.5px;
  @include tablet {
    grid-template-rows: repeat(12, 21.6px);
    grid-gap: 6px;
  }
  @include desktop {
    grid-template-rows: repeat(12, 28.5px);
    grid-gap: 8px;
  }
}

.grid__item {
  &:nth-child(1) {
    background-image: url(../images/gallery/img1-mob-1x.png);
    @include retina {
      background-image: url(../images/gallery/img1-mob-2x.png);
    }
    grid-row: 5/ 9;
    @include tablet {
      background-image: url(../images/gallery/img1-tab-1x.png);
      @include retina {
        background-image: url(../images/gallery/img1-tab-2x.png);
      }
    }
    @include desktop {
      background-image: url(../images/gallery/img1-desk-1x.png);
      @include retina {
        background-image: url(../images/gallery/img1-desk-2x.png);
      }
    }
  }
  &:nth-child(2) {
    background-image: url(../images/gallery/img2-mob-1x.png);
    @include retina {
      background-image: url(../images/gallery/img2-mob-2x.png);
    }
    grid-column: 2/ 3;
    grid-row: 4/ 8;
    @include tablet {
      background-image: url(../images/gallery/img2-tab-1x.png);
      @include retina {
        background-image: url(../images/gallery/img2-tab-2x.png);
      }
    }
    @include desktop {
      background-image: url(../images/gallery/img2-desk-1x.png);
      @include retina {
        background-image: url(../images/gallery/img2-desk-2x.png);
      }
    }
  }
  &:nth-child(3) {
    background-image: url(../images/gallery/img3-mob-1x.png);
    @include retina {
      background-image: url(../images/gallery/img3-mob-2x.png);
    }
    grid-column: 2 / 3;
    grid-row: 8 / 12;
    @include tablet {
      background-image: url(../images/gallery/img3-tab-1x.png);
      @include retina {
        background-image: url(../images/gallery/img3-tab-2x.png);
      }
    }
    @include desktop {
      background-image: url(../images/gallery/img3-desk-1x.png);
      @include retina {
        background-image: url(../images/gallery/img3-desk-2x.png);
      }
    }
  }
  &:nth-child(4) {
    background-image: url(../images/gallery/img4-mob-1x.png);
    @include retina {
      background-image: url(../images/gallery/img4-mob-2x.png);
    }
    grid-column: 3 / 5;
    grid-row: 1/9;
    @include tablet {
      background-image: url(../images/gallery/img4-tab-1x.png);
      @include retina {
        background-image: url(../images/gallery/img4-tab-2x.png);
      }
    }
    @include desktop {
      background-image: url(../images/gallery/img4-desk-1x.png);
      @include retina {
        background-image: url(../images/gallery/img4-desk-2x.png);
      }
    }
  }
  &:nth-child(5) {
    background-image: url(../images/gallery/img5-mob-1x.png);
    @include retina {
      background-image: url(../images/gallery/img5-mob-2x.png);
    }
    grid-column: 3 /3;
    grid-row: 9/ 13;
    @include tablet {
      background-image: url(../images/gallery/img5-tab-1x.png);
      @include retina {
        background-image: url(../images/gallery/img5-tab-2x.png);
      }
    }
    @include desktop {
      background-image: url(../images/gallery/img5-desk-1x.png);
      @include retina {
        background-image: url(../images/gallery/img5-desk-2x.png);
      }
    }
  }
  &:nth-child(6) {
    background-image: url(../images/gallery/img6-mob-1x.png);
    @include retina {
      background-image: url(../images/gallery/img6-mob-2x.png);
    }
    grid-column: 5 / 6;
    grid-row: 4/ 8;
    @include tablet {
      background-image: url(../images/gallery/img6-tab-1x.png);
      @include retina {
        background-image: url(../images/gallery/img6-tab-2x.png);
      }
    }
    @include desktop {
      background-image: url(../images/gallery/img6-desk-1x.png);
      @include retina {
        background-image: url(../images/gallery/img6-desk-2x.png);
      }
    }
  }
  &:nth-child(7) {
    background-image: url(../images/gallery/img7-mob-1x.png);
    @include retina {
      background-image: url(../images/gallery/img7-mob-2x.png);
    }
    grid-column: 5 / 6;
    grid-row: 8 / 12;
    @include tablet {
      background-image: url(../images/gallery/img7-tab-1x.png);
      @include retina {
        background-image: url(../images/gallery/img7-tab-2x.png);
      }
    }
    @include desktop {
      background-image: url(../images/gallery/img7-desk-1x.png);
      @include retina {
        background-image: url(../images/gallery/img7-desk-2x.png);
      }
    }
  }
  &:nth-child(8) {
    background-image: url(../images/gallery/img8-mob-1x.png);
    @include retina {
      background-image: url(../images/gallery/img8-mob-2x.png);
    }
    grid-column: 6 / 7;
    grid-row: 3/ 7;
    @include tablet {
      background-image: url(../images/gallery/img8-tab-1x.png);
      @include retina {
        background-image: url(../images/gallery/img8-tab-2x.png);
      }
    }
    @include desktop {
      background-image: url(../images/gallery/img8-desk-1x.png);
      @include retina {
        background-image: url(../images/gallery/img8-desk-2x.png);
      }
    }
  }
  &:nth-child(9) {
    background-image: url(../images/gallery/img9-mob-1x.png);
    @include retina {
      background-image: url(../images/gallery/img9-mob-2x.png);
    }
    grid-column: 6 / 7;
    grid-row: 7 / 11;
    @include tablet {
      background-image: url(../images/gallery/img9-tab-1x.png);
      @include retina {
        background-image: url(../images/gallery/img9-tab-2x.png);
      }
    }
    @include desktop {
      background-image: url(../images/gallery/img9-desk-1x.png);
      @include retina {
        background-image: url(../images/gallery/img9-desk-2x.png);
      }
    }
  }
  &:nth-child(10) {
    background-image: url(../images/gallery/img10-mob-1x.png);
    @include retina {
      background-image: url(../images/gallery/img10-mob-2x.png);
    }
    grid-column: 7 /8;
    grid-row: 5 / 9;
    @include tablet {
      background-image: url(../images/gallery/img10-tab-1x.png);
      @include retina {
        background-image: url(../images/gallery/img10-tab-2x.png);
      }
    }
    @include desktop {
      background-image: url(../images/gallery/img10-desk-1x.png);
      @include retina {
        background-image: url(../images/gallery/img10-desk-2x.png);
      }
    }
  }

  @include transit();

  &:hover {
    transform: scale(1.2);
  }
}
.grid {
  margin: 0 auto;
  max-width: 320px;
  @include tablet {
    max-width: 768px;
  }
  @include desktop {
    max-width: 1013px;
  }
}

.grid > .grid__item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}
