.grid {
    display: grid;
    grid-template-rows: 
      repeat(12, 9px);
    grid-template-columns: 
      repeat(7, 1fr);
    grid-gap: 2.5px;
  }
  
  .item:nth-child(1) {
    grid-row: 5/ 9;
  }
  
  .item:nth-child(2) {
    grid-column: 2/ 3;
    grid-row: 4/ 8;
  }

//   .item:hover {
//    transform: scale(1.2);
//   }
  
  .item:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 8 / 12;
  }
  
  .item:nth-child(4) {
    grid-column: 3 / 5;
    grid-row: 1/9;
  }
  
  .item:nth-child(5) {
    grid-column: 3 /3;
    grid-row: 9/ 13;
  }
  .item:nth-child(6) {
    grid-column: 5 / 6;
    grid-row: 4/ 8;
  }
  .item:nth-child(7) {
    grid-column: 5 / 6;
    grid-row: 8 / 12;
  }
  .item:nth-child(8) {
    grid-column: 6 / 7;
    grid-row: 3/ 7;
  }
  .item:nth-child(9) {
    grid-column: 6 / 7;
    grid-row: 7 / 11;
  }
  .item:nth-child(10) {
    grid-column: 7 /8;
    grid-row: 5 / 9;
  }
  
  /* styling code */
  
  .grid {
    margin:0 auto;
    width:320px;
  }
  
  .grid > .item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    }