.header-container{
    position: relative;

    background-color: var(--accent-background-color);
    height: 58px;
    overflow: hidden;
}
.mob-logo{
    display: block;
    padding-top: 8px;
    width: 199px;
}
.header-btn,
.close-btn{
    position: absolute;
    top: 27px;
    right: 20px;

    border-style: none;
    background-color: transparent;
}
.menu.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.menu{
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--menu-background-color);

    @include font(14px,700,1.28);
    color: var(--white-color);
    width: 250px;
    height: 100vh;
    transform: translateX(0);
    transition-property: transform, opacity;
    transition-duration: 500ms;
    animation-timing-function: ease;    
    &.is-hidden{
    transform: translateX(250px);
    }
}
.menu-nav__buy-button{
    @include font(16px,700,1.31);
    color: var(--accent-text-color);
    padding: 0;
    margin: 60px 0 19px 20px;
    max-width: 209px;
    width: 100%;
    height: 44px;
    border-style: none;
    border-radius: 22px;
}
.buy-button__symbol{
    padding-top: 2px;
}

.menu-nav__item {
    padding: 12px 0px 12px 20px;
    border-top: 1px solid #E18298;
}
.menu-nav__item:nth-last-child(1) {
    border-bottom: 1px solid #E18298;
}



