.header-container{
    position: relative;

    background-color: var(--accent-background-color);
    height: 502px;
    overflow: hidden;
}
.mob-logo{
    display: block;
    padding-top: 8px;
    width: 199px;
}
.header-btn,
.close-btn{
    position: absolute;
    top: 20px;
    right: 20px;

    border-style: none;
    background-color: transparent;
}
.menu.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.menu{
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--menu-background-color);
    z-index: 3;

    @include font(14px,700,1.28);
    color: var(--white-color);
    width: 250px;
    height: 100vh;
    transform: translateX(0);
    transition-property: transform, opacity;
    transition-duration: 500ms;
    animation-timing-function: ease;    
    &.is-hidden{
    transform: translateX(250px);
    }
}
.menu-nav__buy-button{
    @include font(16px,700,1.31);
    color: var(--accent-text-color);
    padding: 0;
    margin: 60px 0 19px 20px;
    max-width: 209px;
    width: 100%;
    height: 44px;
    border-style: none;
    border-radius: 22px;
}
.buy-button__symbol{
    padding-top: 2px;
}

.menu-nav__item {
    padding: 12px 0px 12px 20px;
    border-top: 1px solid #E18298;
    &:first-child{
        color: var(--accent-text-color);
    }
}
.menu-nav__item:nth-last-child(1) {
    border-bottom: 1px solid #E18298;
}
.mob-elipse{
    position: absolute;
    top: 83px;
    left: 36px;
    width:346px;
    height:344px;
}
.mob-icecream{
    position: absolute;
    bottom: 0;
    right: 32px;
    width: 171px;
    height: 410px;
}

// -------------------------------HERO-----------------------------------
.hero-content{
    position: absolute;
    top: 194px;
    left: 20px;
    max-width: 218px;
    width: 100%;
}
.hero-title{
    @include font (26px, 400, 1.14);
    font-family: var(--secondary-font-family);
    text-transform: uppercase;
    color: var(--white-color);
    letter-spacing: 0.04em;
    &>span{
    @include font(48px,400,0.96);
    color: var(--accent-text-color);
    }
}
.products-button,
.how-made-button{
    @include font(8px, 400, 1.25);
    border-style: none;
    border-radius: 20px;
    height: 24px;
    padding: 0;
    margin-top: 20px;
}
.products-button{
    max-width: 62.4px;
    width: 100%;

    margin-right: 8px;
    color: var(--white-color);
    background-color: var(--accent-text-color);
}
.how-made-button{
    max-width: 82.8px;
    width: 100%;
}

// --------------------MODAL----------------------
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffffbe;
    z-index: 600;
    padding: 20px;
    opacity: 1;
}

.backdrop--is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 100%;
    height: 100%;
    background-color: #E17992;
    border-radius: 8px;
}



.modal-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;


}

.modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;

    background-color: transparent;
    border: none;
}

.modal-title {
    font-size: 19px;
    color: var(--white-color);
    margin-bottom: 5px;
    text-align: center;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}



.input-type {
    outline: none;
    border-radius: 4px;
    border-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        border-color: var(--modal-accent-color);
    }
}


.label {
    font-size: 14px;
    text-align: center;
    margin-bottom: 4px;
    color: var(--white-color);
}

.agreements {
    font-size: 13px;
    line-height: 1.15;
    margin-bottom: 10px;
    margin-top: 5px;
    color: var(--white-color);
    margin-top: 10px;

}

.input-agreements {
    margin-right: 3px;
    outline: none;
}

.ordered-button {
    width: 120px;
    height: 25px;
    border-radius: 6px;
    border-color: transparent;
    align-self: center;
    font-family: 'DM Sans';
    cursor: pointer;
    background-color: var(--modal-accent-color);
    color: var(--white-color);
    border: 1px solid var(--white-color);
    margin-top: 10px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
    background-color: #FFFFFF;
    border-color: var(--modal-accent-color);
    color: var(--modal-accent-color);
    }
}
