.products {
  display: flex;
  justify-content: center;

  padding-top: 60px;
  padding-bottom: 60px;

  &__list {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    }
  }
  &__item:not(:last-child) {
    display: flex;
    @include tablet {
      margin-right: 16px;
    }
    @include desktop {
      margin-right: 32px;
    }
  }
  &__pre-header {
    display: flex;
    font-family: var(--secondary-font-family);
    font-style: normal;
    @include font(18px, 400, 1.17);
    text-transform: uppercase;
    color: var(--secondary-accent-color);
    justify-content: center;
    margin-bottom: 15px;
    @include tablet {
      @include font(26px, 400, 1.15);
      margin-bottom: 18px;
    }
    @include desktop {
      @include font(30px, 400, 1.13);
      margin-bottom: 16px;
    }
  }
  &__header {
    font-family: var(--secondary-font-family);
    font-style: normal;
    @include font(34px, 400, 1.15);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--accent-text-color);
    margin-bottom: 148px;
    @include tablet {
      @include font(48px, non, 1.15);
    }
    @include desktop {
      @include font(58px, non, 1.14);
      margin-bottom: 268px;
    }
  }
  &__img-pink {
    max-width: 280px;
    position: absolute;
    top: -140px;

    left: 0;
    @include tablet {
      max-width: 224px;
    }
    @include desktop {
      max-width: 368px;
      top: -260px;
    }
  }
  &__img-coffee {
    max-width: 280px;
    position: absolute;
    top: -140px;
    left: 0;
    @include tablet {
      max-width: 224px;
    }
    @include desktop {
      max-width: 368px;
      top: -260px;
    }
  }
  &__img-green {
    max-width: 280px;
    position: absolute;
    top: -140px;

    left: 0;
    @include tablet {
      max-width: 224px;
    }
    @include desktop {
      max-width: 368px;
      top: -260px;
    }
  }
  &__pink {
    width: 100%;
    background: #ffb8ca;
    border-radius: 24px;
    padding: 160px 40px 40px 40px;
    position: relative;
    margin-bottom: 140px;
    @include tablet {
      margin-bottom: 0;
      padding: 120px 32px 40px 32px;
    }
    @include desktop {
      padding: 165px 63px 60px 63px;
    }
  }
  &__coffee {
    background: #f0d1a5;
    border-radius: 24px;
    padding: 160px 40px 40px 40px;
    position: relative;
    margin-bottom: 140px;
    @include tablet {
      margin-bottom: 0;
      padding: 120px 32px 40px 32px;
    }
    @include desktop {
      padding: 165px 63px 60px 63px;
    }
  }
  &__green {
    background: #c2e297;
    border-radius: 24px;
    padding: 160px 40px 40px 40px;
    position: relative;
    @include tablet {
      padding: 120px 32px 40px 32px;
    }
    @include desktop {
      padding: 165px 63px 60px 63px;
    }
  }
  &__title {
    font-family: var(--secondary-font-family);
    font-style: normal;
    @include font(20px, 400, 1.15);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 64px;
    @include desktop {
      @include font(30px, 400, 1.13);
    }
  }
  &__text {
    font-family: var(--primary-font-family);
    font-style: normal;
    @include font(14px, 700, 152%);
    letter-spacing: 0.04em;
    color: var(--white-color);
    text-align: center;
    margin-bottom: 32px;
    @include tablet {
      @include font(14px, 700, 176%);
    }
    @include desktop {
      @include font(16px, 700, 176%);
      margin-bottom: 60px;
    }
  }
  &__icon {
    fill: var(--accent-text-color);
    max-width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  &__icon:hover,
  &__icon:focus {
    fill: var(--white-color);
    background: var(--accent-text-color);
  }
}
.span {
  position: relative;
  background-color: var(--white-color);
  border-radius: 5px;
  font-size: 0;
  margin-left: 50%;
  bottom: 32px;
  padding: 4px;
  @include tablet {
    margin-left: 50%;
  }
  @include desktop {
    margin-left: 50%;
  }
}

.span:before {
  position: absolute;
  left: -20px;
  top: 0;
  content: '';
  background-color: var(--background-color);
  border-radius: 5px;
  font-size: 0;
  padding: 4px;
}

.span:after {
  position: absolute;
  left: 20px;
  top: 0;
  content: '';
  background-color: var(--white-color);
  border-radius: 5px;
  font-size: 0;
  padding: 4px;
}
