:root {
  --primary-font-family: 'DM Sans', sans-serif;
  --secondary-font-family: 'Titan One', sans-serif;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --time-duration: 250ms;
  --white-color: #ffffff;
  --primary-text-color: #000000;
  --background-color: #fff5f6;
  // rose theme #fea5bb
  --secondary-text-color: #907e82;
  --accent-text-color: #d41443;
  --accent-background-color: #ffb8ca;
  --secondary-accent-color: #ffa5ba;
  --primary-icon-bg-color: #fea5bb;

  // green theme #A5FEBB
  // --secondary-text-color: #7e9082;
  // --accent-text-color: #14d443;
  // --accent-background-color: #b8ffca;
  // --secondary-accent-color: #a5ffba;
  // --primary-icon-bg-color: #a5febb;

  // coffe theme #f0d1a5;
  // --secondary-text-color: #9e8c72;
  // --accent-text-color: #8a6d45;
  // --accent-background-color: #f2d6ae;
  // --secondary-accent-color: #f2cb94;
  // --primary-icon-bg-color: #f2c585;
}
