:root {
    --primary-font-family: 'DM Sans', sans-serif;
    --secondary-font-family: 'Titan One', sans-serif;

    --primary-text-color: #000000;
    --secondary-text-color: #907E82; 
    --white-color: #FFFFFF; 
    --accent-text-color: #D41443;
    --accent-background-color: #FFB8CA;
    --secondary-accent-color: #FFA5BA; 
    --background-color: #FFF5F6;
}