:root {
  --primary-font-family: 'DM Sans', sans-serif;
  --secondary-font-family: 'Titan One', sans-serif;

  --primary-text-color: #000000;
  --secondary-text-color: #907e82;
  --white-color: #ffffff;
  --accent-text-color: #d41443;
  --accent-background-color: #ffb8ca;
  --secondary-accent-color: #ffa5ba;
  --background-color: #fff5f6;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --time-duration: 250ms;
}
