<section class="advantages">
    <div class="container">
        <h1 class="hidden">Our advantages</h1>
        <ul class="list advantages__list">
            <li class="advantages__item">
                <p class="advantages__number advantages__number--adder">721</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <p class="advantages__number advantages__number--apples">16kg</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <p class="advantages__number advantages__number--heart">84</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>