<section class="section-contacts">
    <div class="container-section">
        <h2 class="hidden">Contacts </h2>
        <ul class="cards-section">
            <!-- 1-card-section -->
            <li class="card-section-item">
                <div class="container-one">
                    <p class="cafe">CAFE</p>
                    <h3 class="city">Chicago</h3>
                    <p class="description">
                        Fusce ut velit laoreet, tempus arcu molestie vulputate
                    </p>
                    <p class="line"></p>
                </div>
                <ul class="container-two">
                    <li class="weekdays">
                        <h3 class="day">Monday - Friday</h3>
                        <p class="work-time">
                            06:00 AM - 10:00 PM
                        </p>
                    </li>
                    <li class="weekends">
                        <h3 class="day">Saturday - Sunday</h3>
                        <p class="work-time">
                            08:00 AM - 16:00 PM
                        </p>
                    </li>
                    <li class="line"></li>
                </ul>
                <div class="contacts-container">
                    <ul>
                        <li><a class="contacts-mail" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                        <li><a class="contacts-tel" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                    </ul>
                </div>
            </li>
            <!-- 2-card-section -->
            <li class="card-section-item">
                <div class="container-one">
                    <p class="foodtrack">FOODTRACK</p>
                    <h3 class="city">Los Angeles</h3>
                    <p class="description">
                        Fusce ut velit laoreet, tempus arcu molestie vulputate
                    </p>
                    <p class="line"></p>
                </div>
                <ul class="container-two">
                    <li class="weekdays">
                        <h3 class="day">Monday - Friday</h3>
                        <p class="work-time">
                            06:00 AM - 10:00 PM
                        </p>
                    </li>
                    <li class="weekends">
                        <h3 class="day">Saturday - Sunday</h3>
                        <p class="work-time">
                            08:00 AM - 16:00 PM
                        </p>
                    </li>
                    <li class="line"></li>
                </ul>
                <div class="contacts-container">
                    <ul>
                        <li><a class="contacts-mail" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                        <li><a class="contacts-tel" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                    </ul>
                </div>
            </li>
            <!-- 3-card-section -->
            <li class="card-section-item">
                <div class="container-one">
                    <p class="cafe">CAFE</p>
                    <h3 class="city">New York</h3>
                    <p class="description">
                        Fusce ut velit laoreet, tempus arcu molestie vulputate
                    </p>
                    <p class="line"></p>
                </div>
                <ul class="container-two">
                    <li class="weekdays">
                        <h3 class="day">Monday - Friday</h3>
                        <p class="work-time">
                            06:00 AM - 10:00 PM
                        </p>
                    </li>
                    <li class="weekends">
                        <h3 class="day">Saturday - Sunday</h3>
                        <p class="work-time">
                            08:00 AM - 16:00 PM
                        </p>
                    </li>
                    <li class="line"></li>
                </ul>
                <div class="contacts-container">
                    <ul>
                        <li><a class="contacts-mail" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                        <li><a class="contacts-tel" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                    </ul>
                </div>
            </li>
            <!-- buttons-section -->
        </ul>
        <ul class="buttons-section">
            <li class="location">
                <button type="button" class="button-location btn-index" contacts-modal-open-one>Our Locations
                    <svg class="svg-location" width="7" height="10">
                        <use href="./images/icons.svg#icon-arrow3"></use>
                    </svg>
                </button>
            </li>
            <li class="franchise">
                <button type="button" class="button-franchise btn-index" contacts-modal2 >Franchise
                    <svg class="svg-franchise" width="7" height="10">
                        <use href="./images/icons.svg#icon-arrow4"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
    <!--modal for location-->
    <div class="backdrop is-hidden-one" contacts-modal-one>
        <div class="modal-one">

            <iframe class="google-map"
                src="https://www.google.com/maps/d/embed?mid=1-VE6X6oHLFrJ_BoM1OkQPZ3jjq_92c8&ehbc=2E312F"></iframe>
            <div class="box"></div>
            <ul class="description-map">
                <li>
                    <img class="label" src="./images/contacts/pinOlive.png" alt="Foodtrack location" />
                    <p> FOODTRACK LA</p>
                </li>
                <li>
                    <img class="label" src="./images/contacts/pinOrange.png" alt="Cafe Chicago location" />
                    <p> CAFE Chicago</p>
                </li>
                <li>
                    <img class="label" src="./images/contacts/pinRed.png" alt="Cafe NY location" />
                    <p> CAFE NY</p>
                </li>
            </ul>
            <button type="button" class="modal-btn" contacts-close-one>
                <svg class="modal-icon" width="10" height="10">
                    <use href="./images/icon-sprite.svg#icon-krestik"></use>
                </svg>
            </button>
        </div>
    </div>
    <!--modal for franchise-->
    <div class="backdrop is-hidden-two" contactsmodal2>
        <div class="modal-two">
            <button type="button" class="modal-btn" contacts-close3>
                <svg class="modal-icon" width="10" height="10">
                    <use href="./images/icon-sprite.svg#icon-krestik"></use>
                </svg>
            </button>
            <p class="modal-title">Leave your details and we will call you back</p>
            <form>
                <div class="modal-field">
                    <label class="moda-text">Name </label>
                    <div class="input-wrap">
                        <input type="text" class="modal-input" name="user-name" required />
                        <svg class="modal-icons" width="18" height="18">
                            <use href="./images/icon-sprite2.svg#icon-person"></use>
                        </svg>
                    </div>
                </div>
                <div class="modal-field">
                    <label class="moda-text">Phone</label>
                    <div class="input-wrap">
                        <input type="text" class="modal-input" name="user-name" required />
                        <svg class="modal-icons" width="18" height="18">
                            <use href="./images/icon-sprite2.svg#icon-phone"></use>
                        </svg>
                    </div>
                </div>
                <div class="modal-field">
                    <label class="moda-text">E-mail</label>
                    <div class="input-wrap">
                        <input type="text" class="modal-input" name="user-name" required />
                        <svg class="modal-icons" width="18" height="18">
                            <use href="./images/icon-sprite2.svg#icon-email"></use>
                        </svg>
                    </div>
                </div>
                <div class="modal-field-com">
                    <label for="user-text" class="moda-text">Comment</label>
                    <textarea name="user-text" id="user-text" class="modal-textarea" placeholder="Text..."></textarea>
                </div>
                <!--
          <div class="modal-field-flex">
            <input type="checkbox" name="privacy" value="true" class="modal-check visually-hidden" id="privacy" />
            <label for="privacy" class="check-text">
              Соглашаюсь с рассылкой и принимаю
            </label>
            <a href="" class="modal-doc">Условия договора</a>
          </div>
        -->
                <button type="submit" class="modal-btn-sbm">Submit</button>
            </form>
        </div>
    </div>
</section>

<!-- <script src="./js/modal.js"></script> -->