<section class="reviews">
  <div class="container container--paddings">
    <h2 class="reviews__title hidden">Customer Reviews</h2>
    <img
      class="reviews__foto"
      srcset="
        ./images/customer-reviews/testimonials1-mob-1x.png,
        ./images/customer-reviews/testimonials1-mob-2x.png
      "
      src="./images/customer-reviews/testimonials1-mob-1x.png"
      alt="customer foto"
      width="85"
    />
    <div class="reviews__box">
      <p class="reviews__text gradient">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
    </div>
    <div class="reviews__slider">
      <span class="reviews__dot"></span>
      <p class="reviews__slider-text">Emily, Los Angeles</p>
    </div>
  </div>
</section>
