<section class="gallery">
  <h2 class="hidden">Galery</h2>
  <div class="container">
    <div class="grid">
      <div class="grid__item"></div>

      <div class="grid__item"></div>

      <div class="grid__item"></div>

      <div class="grid__item"></div>

      <div class="grid__item"></div>

      <div class="grid__item"></div>

      <div class="grid__item"></div>

      <div class="grid__item"></div>

      <div class="grid__item"></div>

      <div class="grid__item"></div>
    </div>
    <button class="btn btn--rose" type="button"></button>
    <button class="btn btn--green" type="button"></button>
    <button class="btn btn--coffe" type="button"></button>
  </div>
</section>
<script src="./js/color.js"></script>
