<section> 
<div class="container">
  <div class="grid">
    <div class="item" style="background-image: url(images/gallery/img1-mob-1x.png)"></div>
    
    <div class="item" style="background-image: url(images/gallery/img2-mob-1x.png)"></div>
    
    <div class="item" style="background-image: url(images/gallery/img3-mob-1x.png)"></div>
    
    <div class="item" style="background-image: url(images/gallery/img4-mob-1x.png)"></div>
    
    <div class="item" style="background-image: url(images/gallery/img5-mob-1x.png)"></div>

    <div class="item" style="background-image: url(images/gallery/img6-mob-1x.png)"></div>

    <div class="item" style="background-image: url(images/gallery/img7-mob-1x.png)"></div>

    <div class="item" style="background-image: url(images/gallery/img8-mob-1x.png)"></div>

    <div class="item" style="background-image: url(images/gallery/img9-mob-1x.png)"></div>

    <div class="item" style="background-image: url(images/gallery/img10-mob-1x.png)"></div>
  </div>
</div>
</section>