<section class="gallery">
  <h2 class="hidden">Galery</h2>
  <div class="container">
    <div class="grid">
      <div class="grid__item"></div>

      <div class="grid__item"></div>

      <div class="grid__item"></div>

      <div class="grid__item"></div>

      <div class="grid__item"></div>

      <div class="grid__item"></div>

      <div class="grid__item"></div>

      <div class="grid__item"></div>

      <div class="grid__item"></div>

      <div class="grid__item"></div>
    </div>
    <ul class="gallery__list list">
      <li class="gallery__item">
        <button class="gallery__btn gallery__btn--green" type="button">

        </button>
      </li>
      <li class="gallery__item">
        <button class="gallery__btn gallery__btn--rose" type="button"></button>
      </li>
      <li class="gallery__item">
        <button class="gallery__btn gallery__btn--coffe" type="button"></button>
      </li>
      <li class="gallery__item">
        <div class="gallery__btn gallery__btn--cone"></div>
      </li>
    </ul>
  </div>
    <ul class="gallery__list-2">
      <li>
        <div class="gallery__list-box2">
          <span lang="uk" class="gallery__text">Якщо вірити історикам, морозиво з'явилося понад 5000 років тому.</span>
        </div>
      </li>
      <li>
        <div class="gallery__cows-box2"></div>
      </li>
    </ul>
    <ul class="gallery__list-3">
      <li>
        <div class="gallery__list-box3">
          <span lang="uk" class="gallery__text">Найулюбленішим у всьому світі сортом морозива є вершкове, друге місце займає шоколадне, третє – фруктове.</span>
        </div>
      </li>
      <li>
        <div class="gallery__cows-box3"></div>
      </li>
    </ul>
</section>
<script src="./js/color.js"></script>
