
    <header>
        <div class="container header">
            <h1 class="main-title">ice cream made with <span class="word">passion</span></h1>

            <picture>
                <img class="elipse"
                    srcset="./images/header/mob-elipse-1x.png 1x"
                    src="./images/header/mob-elipse-1x.png" alt="elipse" />
            </picture>

            <picture>
                <img class="icecream"
                    srcset="./images/header/ice-cream-mob-1x.png 1x,
                    ./images/header/ice-cream-mob-2x.png 2x "
                    src="./images/header/ice-cream-mob-1x.png" alt="icecream" />
            </picture>
            <picture>
                <img class="logo" srcset="./images/header/mob-logo.png 1x"
                    src="./images/header/mob-logo.png" alt="logo" />
            </picture>



            <button class="button-1" type="button">Products</button>
            <button class="button-2" type="button">How it's made?</button>
            <div class="menu-wrapper" data-menu>
                <button type="button" class="buy-button " data-modal-open>Buy now<span class="mnemo"> > </span></button>
                <nav>
                    <ul class="menu-nav list">
                        <li class="menu-nav__item"><a href="" class="menu-nav__link link">Home</a></li>
                        <li class="menu-nav__item"><a href="" class="menu-nav__link link">About us</a></li>
                        <li class="menu-nav__item"><a href="" class="menu-nav__link link">How it's made?</a></li>
                        <li class="menu-nav__item"><a href="" class="menu-nav__link link">Our products</a></li>
                        <li class="menu-nav__item"><a href="" class="menu-nav__link link">Contacts</a></li>
                    </ul>
                </nav>

            </div>

            <button class="menu-button" type="button" data-menu-button>
                <svg class="menu-icon" width="20px" height="16px">
                    <use class="icon-burger" href="./images/icons.svg#icon-burger"></use>
                    <use class="icon-cross" href="./images/icons.svg#icon-close"></use>
                </svg>
            </button>

        </div>
    </header>
    <div class="backdrop backdrop--is-hidden" data-modal>
        <div class="modal">
            <button class="modal-close-button" type="button" data-modal-close="">
                <svg width="12px" height="12px">
                    <use href="./images/icons.svg#icon-close"></use>
                </svg>
            </button>
            <form>
                <div class="modal-wrapper">
                    <h2 class="modal-title">Choose your ice cream</h2>

                    <div class="form-field">
                        <label class="label" for="products">Choose product</label>
                        <select class="input-type" name="products" id="products">
                            <optgroup label="Ice Cream">
                                <option value="str">Strawberry</option>
                                <option value="choc">Chocolate</option>
                                <option value="jam">With jam</option>
                            </optgroup>
                            <optgroup label="Ice Coffee">
                                <option value="chm">Chocholate and mint</option>
                                <option value="crm">Caramel</option>
                                <option value="mch">Mocha</option>
                            </optgroup>
                            <optgroup label="Milkshakes">
                                <option value="pch">Peach</option>
                                <option value="rsp">Raspberry</option>
                                <option value="mng">Mango</option>
                            </optgroup>
                        </select>
                    </div>

                    <div class="form-field">
                        <label class="label" for="name">Name</label>
                        <input class="input-type" type="text" id="name" />
                    </div>

                    <div class="form-field">
                        <label class="label" for="tel">Phone number</label>
                        <input class="input-type" type="tel" id="tel" />
                    </div>

                    <div class="form-field">
                        <label class="label" for="email">Email</label>
                        <input class="input-type" type="email" id="email" />
                    </div>

                    <label class="agreements"><input class="input-agreements" type="checkbox" />by clicking the button,
                        you agree to the public offer agreement and privacy
                        policy</label>

                    <button class="ordered-button" type="submit">Order</button>
                </div>
            </form>
        </div>
    </div>
    <script src="./js/modal.js"></script>
    <script src="./js/menu.js"></script>
