<header class="header" id="header-anchor">
    <div class="container header-container">
        <picture>
            <img src="./images/header/mob-logo.png" alt="mob-logo" class="mob-logo">
        </picture>
        <button type="button" class="header-btn">
            <svg class="header-menu" width="20px" height="16px">
                <use class="icon-burger" href="./images/icons.svg#icon-burger"></use>
            </svg>
            <!-- <svg class="header-close" width="20px" height="16px">
                <use class="icon-close" href="./images/icons.svg#icon-close"></use>
            </svg> -->
        </button>
        <picture>
            <source srcset="./images/header/mob-elipse-1x.png 1x, ./images/header/mob-elipse-1x.png 2x" media="max-width:767px">
            <img srcset="./images/header/mob-elipse-1x.png 1x, ./images/header/mob-elipse-1x.png 2x" src="./images/header/mob-elipse-1x.png" alt="elipse" class="mob-elipse">
        </picture>
        <picture>
            <source srcset="./images/header/ice-cream-mob-1x.png 1x, ./images/header/ice-cream-mob-1x.png 2x" media="max-width:767px">
            <img srcset="./images/header/ice-cream-mob-1x.png 1x, ./images/header/ice-cream-mob-1x.png 2x" src="./images/header/ice-cream-mob-1x.png" alt="icecream" class="mob-icecream">
        </picture>

        <div class="hero-content">
            <h1 class="hero-title">ice cream made with <span> passion</span></h1>
            <a href="#products-anchor"> <button class="products-button">Products</button></a>
            <a href="#about-anchor"> <button class="how-made-button">How it's made?</button></a>
        </div>




    <!-- --------------------------MENU------------------------------------ -->

    <!-- -----------------------------------MODAL---------------------------------- -->
    <div class="backdrop backdrop--is-hidden" data-modal>
        <div class="modal">
            <button class="modal-close-button" type="button" data-modal-close="">
                <svg width="14px" height="14px">
                    <use href="./images/icons.svg#icon-close"></use>
                </svg>
            </button>
            <form>
                <div class="modal-wrapper">
                    <h2 class="modal-title">Choose your ice cream</h2>
    
                    <div class="form-field">
                        <label class="label" for="products">Choose product</label>
                        <select class="input-type" name="products" id="products">
                            <optgroup label="Ice Cream">
                                <option value="str">Strawberry</option>
                                <option value="choc">Chocolate</option>
                                <option value="jam">With jam</option>
                            </optgroup>
                            <optgroup label="Ice Coffee">
                                <option value="chm">Chocholate and mint</option>
                                <option value="crm">Caramel</option>
                                <option value="mch">Mocha</option>
                            </optgroup>
                            <optgroup label="Milkshakes">
                                <option value="pch">Peach</option>
                                <option value="rsp">Raspberry</option>
                                <option value="mng">Mango</option>
                            </optgroup>
                        </select>
                    </div>
    
                    <div class="form-field">
                        <label class="label" for="name">Name</label>
                        <input class="input-type" type="text" id="name" />
                    </div>
    
                    <div class="form-field">
                        <label class="label" for="tel">Phone number</label>
                        <input class="input-type" type="tel" id="tel" />
                    </div>
    
                    <div class="form-field">
                        <label class="label" for="email">Email</label>
                        <input class="input-type" type="email" id="email" />
                    </div>
    
                    <label class="agreements"><input class="input-agreements" type="checkbox" />by clicking the button,
                        you agree to the public offer agreement and privacy
                        policy</label>
    
                    <button class="ordered-button" type="submit">Order</button>
                </div>
            </form>
        </div>
    </div>



    </div>
</header>
    <div class="menu is-hidden">
        <button type="button" class="close-btn">
            <svg class="menu__icon-close" width="14" height="14">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>
        <nav class="menu-nav">
            <button type="button" class="menu-nav__buy-button buy-button" data-modal-open>Buy now <span
                    class="buy-button__symbol">></span></button>
            <ul class="menu-nav__list list">
                <li class="menu-nav__item">
                    <a href="#header-anchor" class="menu-nav__link link"> Home</a>
                </li>
                <li class="menu-nav__item">
                    <a href="" class="menu-nav__link link"> About us</a>
                </li>
                <li class="menu-nav__item">
                    <a href="#about-anchor" class="menu-nav__link link"> How it’s made?</a>
                </li>
                <li class="menu-nav__item">
                    <a href="#products-anchor" class="menu-nav__link link"> Our products</a>
                </li>
                <li class="menu-nav__item">
                    <a href="" class="menu-nav__link link"> Contact</a>
                </li>
            </ul>
        </nav>
    </div>

    
    <script src="./js/modal.js"></script>
    <script src="./js/menu.js"></script>