<section class="container">
  <p class="products__pre-header">100% natural</p>
  <h2 class="products__header">products</h2>
  <ul>
    <li>
      <img src="./images/products/ice-cream-mob-1x.png" alt="ice cream" />
      <h3>ice cream</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et. dolore magna aliqua facilisis.
      </p>
      <a href="" class="products-icon">
        <svg class="products-icon" width="40" height="40">
          <use href="./images/icons.svg#icon-arrow-for-product"></use>
        </svg>
      </a>
    </li>
    <li>
      <img src="./images/products/ice-coffee-mob-1x.png" alt="ice coffee" />
      <h3>ice coffee</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et. dolore magna aliqua facilisis.
      </p>
      <a href="" class="products-icon">
        <svg class="products-icon" width="40" height="40">
          <use href="./images/icons.svg#icon-arrow-for-product"></use>
        </svg>
      </a>
    </li>
    <li>
      <img src="./images/products/milkshake-mob-1x.png" alt="milkshakes" />
      <h3>milkshakes</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et. dolore magna aliqua facilisis.
      </p>
      <a href="" class="products-icon">
        <svg class="products-icon" width="40" height="40">
          <use href="./images/icons.svg#icon-arrow-for-product"></use>
        </svg>
      </a>
    </li>
  </ul>
</section>
