<section class="container">
  <p class="products__pre-header">100% natural</p>
  <h2 class="products__header">products</h2>
  <ul class="list">
    <li>
      <img src="./images/products/ice-cream-mob-1x.png" alt="ice cream" />
      <div class="products__pinc">
        <h3 class="products__item">ice cream</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <a href="" class="products__icon">
          <svg class="products__icon-arrow" width="20" height="20">
            <use href="./images/icons.svg#icon-arrow-for-product"></use>
          </svg>
        </a>
      </div>
    </li>
    <li>
      <img src="./images/products/ice-coffee-mob-1x.png" alt="ice coffee" />
      <div class="products__coffee">
        <h3 class="products__item">ice coffee</h3>

        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <a href="" class="products__icon">
          <svg class="products__icon-arrow" width="20" height="20">
            <use href="./images/icons.svg#icon-arrow-for-product"></use>
          </svg>
        </a>
      </div>
    </li>
    <li>
      <img src="./images/products/milkshake-mob-1x.png" alt="milkshakes" />
      <div class="products__green">
        <h3 class="products__item">milkshakes</h3>

        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <a href="" class="products__icon">
          <svg class="products__icon-arrow" width="20" height="20">
            <use href="./images/icons.svg#icon-arrow-for-product"></use>
          </svg>
        </a>
      </div>
    </li>
  </ul>
</section>
