<section class="products" id="products-anchor">
  <div class="container">
    <p class="products__pre-header">100% natural</p>
    <h2 class="products__header">products</h2>
    <ul class="products__list list">
      <li class="products__item">
        <div class="products__pink">
          <picture>
            <source srcset="
                ./images/products/ice-cream-mob-1x.png 1x,
                ./images/products/ice-cream-mob-2x.png 2x
              " media="(min-width: 1200px)" />
            <source srcset="
                ./images/products/ice-cream-mob-1x.png 1x,
                ./images/products/ice-cream-mob-2x.png 2x
              " media="(min-width: 768px)" />
            <source srcset="
                ./images/products/ice-cream-mob-1x.png 1x,
                ./images/products/ice-cream-mob-2x.png 2x
              " media="(min-width: 320px)" />
            <img class="products__img-pink" src="./images/products/ice-cream-mob-1x.png" width="280" alt="ice-cream" />
          </picture>

          <h3 class="products__title">ice cream</h3>
          <span class="span"></span>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button type="button" class="products__btn" products-modal-open-one>
            <svg class="products__icon-arrow" width="20" height="20">
              <use href="./images/icons.svg#icon-arrow-for-product"></use>
            </svg>
          </button>

        </div>
      </li>
      <li class="products__item">
        <div class="products__coffee">
          <picture>
            <source srcset="
                ./images/products/ice-coffee-mob-1x.png 1x,
                ./images/products/ice-coffee-mob-2x.png 2x
              " media="(min-width: 1200px)" />
            <source srcset="
                ./images/products/ice-coffee-mob-1x.png 1x,
                ./images/products/ice-coffee-mob-2x.png 2x
              " media="(min-width: 768px)" />
            <source srcset="
                ./images/products/ice-coffee-mob-1x.png 1x,
                ./images/products/ice-coffee-mob-2x.png 2x
              " media="(min-width: 320px)" />
            <img class="products__img-coffee" src="./images/products/ice-coffee-mob-1x.png" width="280"
              alt="ice coffee" />
          </picture>
          <h3 class="products__title">ice coffee</h3>
          <span class="span"></span>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button type="button" class="products__btn" products-modal-open-two>
            <svg class="products__icon-arrow" width="20" height="20">
              <use href="./images/icons.svg#icon-arrow-for-product"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__item">
        <div class="products__green">
          <picture>
            <source srcset="
                ./images/products/milkshake-mob-1x.png 1x,
                ./images/products/milkshake-mob-2x.png 2x
              " media="(min-width: 1200px)" />
            <source srcset="
                ./images/products/milkshake-mob-1x.png 1x,
                ./images/products/milkshake-mob-2x.png 2x
              " media="(min-width: 768px)" />
            <source srcset="
                ./images/products/milkshake-mob-1x.png 1x,
                ./images/products/milkshake-mob-2x.png 2x
              " media="(min-width: 320px)" />
            <img class="products__img-green" src="./images/products/milkshake-mob-1x.png" width="280"
              alt="milkshakes" />
          </picture>
          <h3 class="products__title">milkshakes</h3>
          <span class="span"></span>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button type="button" class="products__btn" products-modal-open-three>
            <svg class="products__icon-arrow" width="20" height="20">
              <use href="./images/icons.svg#icon-arrow-for-product"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>

</section>
<div class="backdrop-products is-hidden6" products-modal-one>
  <div class="products-modal">
    <button type="button" class="products-modal__close-btn" products-close-one>
      <svg class="products-modal__close" width="11" height="11">
        <use href="./images/icons.svg#icon-close-about"></use>
      </svg>
    </button>
    <h2 class="products-modal__head">ice-cream</h2>
    <p class="products-modal__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius expedita sapiente,
      nulla aut ut sed iure autem.
      Atque, voluptatem recusandae magnam repellendus aut dicta mollitia nesciunt architecto, aspernatur odio molestiae.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, est reprehenderit, tenetur exercitationem
      voluptates magnam laboriosam nobis nemo enim officia mollitia? Sint inventore rem illo atque et aliquid pariatur
      vero?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis adipisci maiores dolorum, reprehenderit iure
      eligendi consequuntur repellat placeat quo quidem necessitatibus perspiciatis animi? Fuga, id at. Quia pariatur
      veritatis odit!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis expedita est odio ab fuga facilis, rerum iste
      quasi error cumque temporibus unde delectus blanditiis numquam ipsum similique vitae maxime dolorem!
    </p>
  </div>
</div>

<div class="backdrop-products is-hidden7" products-modal-two>
  <div class="products-modal">
    <button type="button" class="about-modal__close-btn" products-close-two>
      <svg class="about-modal__close" width="11" height="11">
        <use href="./images/icons.svg#icon-close-about"></use>
      </svg>
    </button>
    <h2 class="products-modal__head">ice coffee</h2>
    <p class="products-modal__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius expedita sapiente,
      nulla
      aut ut sed iure autem.
      Atque, voluptatem recusandae magnam repellendus aut dicta mollitia nesciunt architecto, aspernatur odio molestiae.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, est reprehenderit, tenetur exercitationem
      voluptates magnam laboriosam nobis nemo enim officia mollitia? Sint inventore rem illo atque et aliquid pariatur
      vero?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis adipisci maiores dolorum, reprehenderit iure
      eligendi consequuntur repellat placeat quo quidem necessitatibus perspiciatis animi? Fuga, id at. Quia pariatur
      veritatis odit!
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid mollitia facere atque suscipit aliquam, quia
      repellat aspernatur at et. Dolorem quidem mollitia sequi. Excepturi amet, nostrum dolore tempore aut illum!
    </p>
  </div>
</div>

<div class="backdrop-products is-hidden8" products-modal-three>
  <div class="products-modal">
    <button type="button" class="about-modal__close-btn" products-close-three>
      <svg class="about-modal__close" width="11" height="11">
        <use href="./images/icons.svg#icon-close-about"></use>
      </svg>
    </button>
    <h2 class="products-modal__head">milkshake</h2>
    <p class="products-modal__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius expedita sapiente,
      nulla
      aut ut sed iure autem.
      Atque, voluptatem recusandae magnam repellendus aut dicta mollitia nesciunt architecto, aspernatur odio molestiae.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, est reprehenderit, tenetur exercitationem
      voluptates magnam laboriosam nobis nemo enim officia mollitia? Sint inventore rem illo atque et aliquid pariatur
      vero?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis adipisci maiores dolorum, reprehenderit iure
      eligendi consequuntur repellat placeat quo quidem necessitatibus perspiciatis animi? Fuga, id at. Quia pariatur
      veritatis odit!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro aperiam quia aliquam quidem ipsa voluptates
      impedit quos nihil expedita sit laboriosam totam nesciunt iure corrupti, minus explicabo mollitia reprehenderit!
      Cupiditate!
    </p>
  </div>
</div>